.App {
  display: flex;
  flex-direction: column;
}

button.login,
button.logout {
  align-self: center;
  margin-bottom: 20px;
  padding: 3px 20px;
}

button.login {
  background: #0084B4;
}

button.login:hover {
  background: #51a0bd;
}

button.logout {
  background: #df2c2c;
}

button.logout:hover {
  background: #db4c4c;
}

.highlights {
  display: flex;
  justify-content: space-between;
}

.highlights .highlights__select {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    width: 250px;
    padding: 3px;
}

.boosting_multicheckbox {
    display: flex;
    margin-top: 40px;
}

.boosting_multicheckbox .form-controls {
  margin-left: 35px;
}

.boosting_multicheckbox .form-controls label {
  margin-left: 10px;
}

.promotions {
  margin-top: 20px;
}

#promotions label {
	margin-left: 5px;
}

hr.app__separator {
  background-color: #d9d9d9;
  height: 1px;
}

h4.app__title {
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}

.promotions__legend {
  font-weight: bold;
  margin-bottom: 10px;
}

.extension__notice {
    padding: 20px;
    border-radius: 3px;
    background: #c5c5c5;
    border: 1px solid darkgray;
    margin-bottom: 15px;
}

.extension__notice p {
  margin: 0;
  padding: 0;
}

.extension__notice p b {
  font-weight: bold
}

.extension__notice.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.extension__notice.error p,
.extension__notice.error h4 {
  color: #721c24;
}

.extension__notice.warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.extension__notice.warning p,
.extension__notice.warning h4 {
  color: #856404;
}

.extension__notice h4 {
  font-size: 16px;
  padding: 0;
  margin-bottom: 10px;
}

.notice {
  margin-top: 0 !important;
}

.error-flash, 
.success-flash,
.warning-flash {
  border-radius: 3px !important;
  background: white !important;
  top: 2em;
  font-size: 12px;
}

.error-flash::before, 
.success-flash::before,
.warning-flash::before {
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.error-flash::before {
  background: rgb(223, 44, 44);
}

.success-flash::before {
  background: rgb(117, 187, 40)
}

.warning-flash::before {
  background: rgb(228, 150, 31);;
}

.error-flash h3 span,
.warning-flash h3 span {
  font-weight: 800
}



.error-flash h3,
.warning-flash h3 {
  color: #555;
  margin: 0;
  padding: 0;
}

.error-flash h3 {
  font-size: 12px;
}

.warning-flash h3 {
  font-size: 14px;
  padding-top: 5px;
  font-weight: bold;
}

.error-flash p, 
.success-flash p,
.warning-flash p {
  color: #555 !important;
}

.success-flash p, .warning-flash {
  margin-top: 2px;
  padding: 0;
}


.Toastify__toast--success {
  min-height: 5px !important;
}

.error-flash button.action,
.error-flash button.action {
  font-size: 11px;
  padding: 3px 15px;
  color: white;
  border-radius: 50px;
  margin-right: 10px;
}


.error-flash .Toastify__close-button, 
.success-flash .Toastify__close-button,
.warning-flash .Toastify__close-button
 {
  color: #555;
}

.error-flash .Toastify__close-button:hover, 
.success-flash .Toastify__close-button:hover,
.warning-flash .Toastify__close-button:hover {
  opacity: 1;
  color: #555;
  background: none;
}

.error-flash .Toastify__close-button:focus, 
.error-flash .Toastify__close-button:active,
.success-flash .Toastify__close-button:focus,
.success-flash .Toastify__close-button:active,
.warning-flash.Toastify__close-button:focus, 
.warning-flash.Toastify__close-button:active, {
  opacity: 1;
  color: #555;
  background: none;
}

.toasty { 
  margin-left: 5px;
}