.App {
  display: flex;
  flex-direction: column;
}

button.login,
button.logout {
  align-self: center;
  margin-bottom: 20px;
  padding: 3px 20px;
}

button.login {
  background: #0084B4;
}

button.login:hover {
  background: #51a0bd;
}

button.logout {
  background: #df2c2c;
}

button.logout:hover {
  background: #db4c4c;
}

.highlights {
  display: flex;
  justify-content: space-between;
}

.highlights .highlights__select {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    width: 250px;
    padding: 3px;
}

.boosting_multicheckbox {
    display: flex;
    margin-top: 40px;
}

.boosting_multicheckbox .form-controls {
  margin-left: 35px;
}

.boosting_multicheckbox .form-controls label {
  margin-left: 10px;
}

.promotions {
  margin-top: 20px;
}

#promotions label {
	margin-left: 5px;
}

hr.app__separator {
  background-color: #d9d9d9;
  height: 1px;
}

h4.app__title {
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}

.promotions__legend {
  font-weight: bold;
  margin-bottom: 10px;
}

.extension__notice {
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
    background: #c5c5c5;
    border: 1px solid darkgray;
}

.extension__notice.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.extension__notice h4 {
  padding: 0;
  margin: 0;
}