.boosting_multiselect {
  display: flex;
  justify-content: space-between;
}

.boosting_multiselect .notable_for {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    width: 250px;
    padding: 3px;
}

.boosting_multicheckbox {
    display: flex;
    margin-top: 40px;
}

.boosting_multicheckbox .form-controls {
  margin-left: 35px;
}

.boosting_multicheckbox .form-controls label {
  margin-left: 10px;
}

#promotions label {
	margin-left: 5px;
}